{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <form method="post">
            {{ form.as_table }}
            <button>Add</button>
            {% csrf_token %}
        </form>
    </div>
    <div class="col-md-4">
        In queue:
        <table class="table" id="qt">
            <tr><td class="bold">Tasks</td><td><span id="tasks-num">0</span></td></tr>
        </table>
    </div>
</div>
<script type="text/javascript" src="{% static 'queue.js' %}"></script>
{% endblock %}